<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteRule ^([^/]+) index.php?id=$1 [L]
</IfModule>

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/curation\.php
RewriteRule ^([^/]*)$ /curation.php?id=$1 [L]

#AuthName "Acesso restrito - Tecnologia da informação CREA-GO"
#AuthType Basic
#AuthBasicProvider dbm
#AuthDBMGroupFile /var/apache_users/users_db
#AuthDBMUserFile /var/apache_users/users_db
#Require group cie


AuthName "CREA-GO - Area de desenvolvimento"
AuthType Basic
#AuthUserFile /home/pass.txt
AuthUserFile /private/passwd
Require valid-user
